[user]
	name = Alessandra Bilardi
	email = alessandra.bilardi@gmail.com
[core]
	editor = emacs
	excludesfile = /root/.gitignore_global
#[diff]
#	external = /root/bin/git-meld
[color]
	ui = true
	status = auto
	branch = auto
[format]
	pretty = medium
[alias]
        tree = log --graph --decorate --pretty=medium --abbrev-commit
